.container {
    display: grid;
    grid-template-areas:
      "images images booking_form booking_form"
      "images images owner chatButton"
      "details details details details";
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3%;
}

.images {
    grid-area: images;
}

.arrows{
    display: flex;
    flex-direction: row; 
}


#prev{

}

#next{

}

.booking_form {
    grid-area: booking_form;
    margin-left: 100px;
    margin-bottom: 20px;
    
}

.booking_form fieldset{
    background-color: rgb(222, 253, 222);
    border:4px solid green;
    padding: 20px;
    
}

#formInfo{
    font-size: 20pt;
}

#formtitle{
    background-color: green;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

#formButton{
    border:2px solid black;
    block-size: 50px;
    text-align: center;
    background-color:beige;
    border-radius: 5px;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px auto; /* Center the button horizontally */
    display: block; /* Ensures the button takes full width */
    width: 130px; /* Adjust the width as needed */
}


.owner {
    grid-area: owner;
    border:2px solid black;
    block-size: 50px;
    text-align: center;
    background-color:beige;
    border-radius: 5px;
    font-size: 20pt;
    margin-right: 20px;
    margin-left: 100px;
}

.chatButton{
    grid-area: chatButton;
    border:2px solid black;
    block-size: 50px;
    text-align: center;
    background-color:beige;
    border-radius: 5px;
    font-size: 20pt;

}

.details{
    grid-area: details;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 30px;
    max-width: 100%;
    border-color: aquamarine;
    font-size: 20pt;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}
