h2 {
  border-bottom: 2px solid rgba(243, 238, 238, 0.06);
  font-size: 1.4rem;
}

img {
  border-radius: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-items: start;
  gap: 1rem;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 350px;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 3px 5.9px 5.9px hsl(0deg 0% 0% / 0.41);
  background-color: rgb(39, 39, 39);
}

.profile h1 {
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid rgba(243, 238, 238, 0.06);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info {
  margin-right: auto;
  font-size: 1.8rem;
  padding: 0.5rem;
  box-shadow: 3px 5.9px 5.9px hsl(0deg 0% 0% / 0.41);
  border-radius: 0.5rem;
}

.info h2 {
  border-bottom: none;
}

.info p {
  font-size: 1.1rem;
}

.extra p {
  padding: 0.5rem;
  border: 2px solid rgba(243, 238, 238, 0.06);
  box-shadow: 3px 5.9px 5.9px hsl(0deg 0% 0% / 0.41);
  border-radius: 0.5rem;
  width: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.edit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile input,
select {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #232323;
  border-radius: 5px;
  background-color: #202020;
  box-sizing: border-box;
}

input:hover {
  border-color: #c5ff00;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.list li {
  list-style: none;
  padding: 0.5rem;
  border: 2px solid rgba(243, 238, 238, 0.06);
  box-shadow: 3px 5.9px 5.9px hsl(0deg 0% 0% / 0.41);
  border-radius: 0.5rem;
  font-size: 14px;
}

#editTitle {
  border: none;
}
