#mainContainer input,
#mainContainer button,
#mainContainer label {
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin: 0.5rem;
}

#mainContainer input {
    padding-left: 7.2rem;
    padding-right: 7.2rem;
}

#mainContainer button {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
}

#infoText {
    font-size: 2.5rem;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#emptyInputWarning {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0.75rem;
}

#properties {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 0.5rem;
    justify-content: center;
}

#properties h1 {
    font-weight: bold;
    font-size: 125%;
}

#mainInfo {
    display: flex;
    flex-direction: column;
}

#price {
    justify-self: flex-end;
}

#propertyCard {
    display: flex;
}